<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link rel = "stylesheet" href = "../css/home.css">
</head>
<body>
    <div class="titleAdmin">
        <h3>Faculty</h3>
    </div>
    <button type="button" onclick="openForm()">Create test</button>
    <br><br>
    <div id="adminForm" class="adminFormSupply" style="display:none">
            <label for="questionAdmin">Question:</label>
            <textarea id="questionAdmin" rows="4" cols="50"></textarea>
            <br><br>
            <div id="valueArea">
                <div id="valueAreaOriginal">
                    <label for="answerKeyAdmin">Answer key:</label>
                    <textarea id="answerKeyAdmin" rows="4" cols="50"></textarea>
                    <button type="button" onclick="setKey()">Mark key</button>
                </div>
            </div>
            <br><br>
            <button type="button" onclick="submit()">Submit</button>
            <input type="reset" value="Cancel" onclick="cancelForm()">
    </div>
    <script src="../javascript/home.js"></script>
</body>
</html>