<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
</head>
<body>
    <div class="titleUser">
        <h3>User</h3>
    </div>
    <form>
        <label for="testId">Test id :</label>
        <input type="text" id="testId" name="testId">
        <br><br>
        <button type="button" onclick="openTest()">open test</button>
        <br><br>
    </form>
    <br><br>
    <div id="userPreview">
        <form id="testForm">
        </form>
    </div>
    <script src="../../javascript/home_commons.js"></script>
    <script src="../../javascript/user/home.js"></script>
</body>
</html>